.root {
    -fx-background-color: linear-gradient(to bottom, #0d1b2a, #1b263b);
}

.label {
    -fx-text-fill: #217c7f;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #73c532;
    -fx-text-fill: #602a1a;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.hover:hover{
    -fx-opacity: 0.45;
}